{% extends 'base.html' %}

{% block main %}

    <div>
        <div class="col-md-12">
            <div class="card flex-md-row mb-4 box-shadow h-md-2000">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{ article.category }}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="{% url 'article_name' article.title %}">{{ article.title }}</a>
                    </h3>
                    {% if article.date %}
                        <div class="mb-1 text-muted">{{ article.date }}</div>
                    {% endif %}
                    {% if article.author %}
                        <div class="mb-1 text-muted">{{ article.author }}</div>
                    {% endif %}
                    <p class="card-text mb-auto">{{ article.text }}</p>
                </div>
                {% if article.image %}
                    <img class="card-img-right flex-auto d-none d-md-block" src="media/{{ article.image }}"
                         alt="Card image cap">
                {% endif %}
            </div>

            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- comments -->
                    <h2>{{ comments.count }} comments</h2>

                    <div class="card-body">
                        {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting moderation
                            </div>
                        {% else %}
                            <h3>Leave a comment</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                        {% endif %}
                    </div>

                    {#            <form action="/add_comment/" method="post">#}
                    {#                {% csrf_token %}#}
                    {#                {{ comment_form }}#}
                    {#                <input type="submit" value="Submit">#}
                    {#            </form>#}


                    {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.author }}
                                <span class=" text-muted font-weight-normal">
              {{ comment.date }}
            </span>
                            </p>
                            {{ comment.text | linebreaks }}
                        </div>
                    {% endfor %}

                </div>
            </div>
{% endblock %}